@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #414142;
  color: #fff;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #414142;
  border-radius: 8px;
}